#parse("header.vm")
<input id="hostid" type="hidden" value="179eaa5d4f5045fb95b969f09cf4d434"/>
<div id="wrapper">
    #parse("leftmenu.vm")
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!--right header-->
        #parse("rightheader.vm")
        <div id="invoke_t_div" class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="title-img">
                                <img class="img-rounded img-responsive" alt="" style="border-radius: 22%;width:120px;height:120px;" ng-src="img/centos.svg" src="img/centos.svg"></div>
                            <div class="title-has-img">
                                <h2 style="word-break: break-all;" class="ng-binding">服务器28</h2>
                                <div style="margin-top:10px;">
                                    <span class="text-muted">状态:</span>
                                    <span ng-class="{'text-disabled': !node.is_connected, 'text-success': node.is_connected &amp;&amp; node.health_status === 0, 'text-warning': node.is_connected &amp;&amp; node.health_status === 1, 'text-danger': node.is_connected &amp;&amp; node.health_status === 2, }" class="text-success">
                                        <span ng-show="node.is_connected" class="ng-binding" aria-hidden="false">正常</span>
                                    </span>
                                </div>
                                <div>
                                    <span class="text-muted">IP:</span>
                                    <span>
                                        <!-- ngRepeat: add in node.node_addrs -->
                                        <span ng-repeat="add in node.node_addrs" class="ng-binding ng-scope">192.168.188.28</span>
                                        <!-- end ngRepeat: add in node.node_addrs --> </span>
                                    <span class="text-muted">外网:</span>
                                    <span>
                                        <span class="ng-binding">125.119.223.18</span>
                                    </span>
                                </div>
                                <div>
                                    <span class="text-muted">主机名:</span>
                                    <span class="ng-binding">vm28</span>
                                </div>
                                <div>
                                    <span class="text-muted">Java版本:</span>
                                    <span class="ng-binding">jdk1.7.0</span>
                                </div>
                                <!-- ngIf: node.cloud_provider==='sandbox' -->
                                <div>
                                    <span class="text-muted">操作系统:</span>
                                    <span class="ng-binding">CentOS Linux 7 (Core)</span>
                                </div>
                                <!-- <div class="nodeTag" style="position:relative;">
                                <span class="text-muted" style="">部署标签:</span>
                                <div class="tag" ng-repeat="tag in tags">{{tag}}</div>
                            </div>
                            -->
                            <div>
                                <span class="text-muted">标签:</span>
                                <span class="badge badge-primary">EBS服务器</span> 
                                <span class="badge badge-information">tomcat</span> 
                                <span class="badge badge-success">java7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">

                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">监控</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">设置</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body" style="margin:0px 15px 15px 15px">

                            <div class="tab-content" style="padding:0 10px;">
                                <div id="tab-1" class="tab-pane active" style="padding-top:15px;">
                                   
                                </div>

                                <div id="tab-2" class="tab-pane" style="padding-top:15px;">
									1212121
                                </div>
                            </div>

                        </div>

                    </div>
            </div>            
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong>
                Free.
            </div>
            <div> <strong>Copyright</strong>
                Example Company &copy; 2014-2015
            </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>

<!-- easyui -->
<script src="js/plugins/easyui/jquery.easyui.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- ChartJS-->
<script src="js/plugins/chartJs/Chart.min.js"></script>

<script src="js/plugins/echarts/echarts.js"></script>

<!-- Toastr -->
<script src="js/plugins/toastr/toastr.min.js"></script>

<script src="js/system/host.js"></script>

<script></script>
#parse("footer.vm")