#parse("header.vm")

<link href="css/plugins/chosen/chosen.css" rel="stylesheet">
<input id="hostid" type="hidden" value="$!hostid"/>
<div id="wrapper">
    #parse("leftmenu.vm")
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!--right header-->
        #parse("rightheader.vm")
        <div id="invoke_t_div" class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="title-img">
                                <img class="img-rounded img-responsive" alt="" style="border-radius: 22%;width:120px;height:120px;" ng-src="img/centos.svg" src="img/centos.svg"></div>
                            <div class="title-has-img">
                                <h2 style="word-break: break-all;" class="ng-binding">$!host.othername</h2>
                                <div style="margin-top:10px;">
                                    <span class="text-muted">状态:</span>
                                    <span ng-class="{'text-disabled': !node.is_connected, 'text-success': node.is_connected &amp;&amp; node.health_status === 0, 'text-warning': node.is_connected &amp;&amp; node.health_status === 1, 'text-danger': node.is_connected &amp;&amp; node.health_status === 2, }" class="text-success">
                                        <span ng-show="node.is_connected" class="ng-binding" aria-hidden="false">$!statusmc</span>
                                    </span>
                                </div>
                                <div>
                                    <span class="text-muted">IP:</span>
                                    <span>
                                        <!-- ngRepeat: add in node.node_addrs -->
                                        <span ng-repeat="add in node.node_addrs" class="ng-binding ng-scope">$!host.ip</span>
                                        <!-- end ngRepeat: add in node.node_addrs --> </span>
                                    <span class="text-muted">外网:</span>
                                    <span>
                                        <span class="ng-binding">125.119.223.18</span>
                                    </span>
                                </div>
                                <div>
                                    <span class="text-muted">主机名:</span>
                                    <span class="ng-binding">$!host.hostname</span>
                                </div>
                                <div>
                                    <span class="text-muted">Java版本:</span>
                                    <span class="ng-binding">jdk1.7.0</span>
                                </div>
                                <!-- ngIf: node.cloud_provider==='sandbox' -->
                                <div>
                                    <span class="text-muted">操作系统:</span>
                                    <span class="ng-binding">$!host.osversion</span>
                                </div>
                                <!-- <div class="nodeTag" style="position:relative;">
                                <span class="text-muted" style="">部署标签:</span>
                                <div class="tag" ng-repeat="tag in tags">{{tag}}</div>
                            </div>
                            -->
                            <div id="bqnr">
                                <span class="text-muted">标签:</span>
                                #foreach($bqxx in $!bqmclist)
                                <span class="badge badge-$bqxx.color">$bqxx.bqmc</span> 
                                #end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">

                        <div class="panel-heading" style="padding-bottom: 0px;">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">监控</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">设置</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body" style="margin:0px 15px 15px 15px">

                            <div class="tab-content" style="padding:0 10px;">
                                <div id="tab-1" class="tab-pane active" style="padding-top:15px;">
                                   
                                </div>

                                <div id="tab-2" class="tab-pane" style="padding-top:15px;">
	                                
	                                <form method="get" class="form-horizontal">
	                                <input type="hidden" name="hostid" value="$!hostid" />
	                                <div class="form-group"><label class="col-sm-2 control-label">服务器名称</label>
	                                    <div class="col-sm-10"><input id="othername" name="othername" type="text" 
	                                    	class="form-control m-b" value="$!host.othername" /></div>
	                                </div>
	                                <div class="form-group"><label class="col-sm-2 control-label">标签名称</label>
	                                    <div class="col-sm-10"><input id="bqmc" name="bqmc" type="text" class="form-control m-b" />
	                                    </div>
	                                </div>
	                                <div class="form-group"><label class="col-sm-2 control-label">标签颜色</label>

	                                    <div class="col-sm-10">
		                                    <select class="form-control m-b" name="color" id="color" onChange="savebq()">
		                                        <option>plain</option>
		                                        <option>primary</option>
		                                        <option>information</option>
		                                        <option>success</option>
		                                        <option>warning</option>
		                                        <option>danger</option>
		                                    </select>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                	<label class="col-sm-2 control-label">标签预览</label>
							            <div class="col-sm-10">
							                <div id="bqyl">
				                                #foreach($bqxx in $!bqmclist)
				                                <span class="badge badge-$bqxx.color">$bqxx.bqmc<span name="bq_nr" value="$bqxx.color|$bqxx.bqmc"></span>
				                                <a class="chosen-a-close" onclick="delbq(this);"></a></span> 
				                                #end
				                            </div>
						        		</div>
					                </div>
	                                <div class="form-group">
	                                    <div class="col-sm-4 col-sm-offset-2">
	                                        <!-- <button class="btn btn-white" type="submit">取消</button> -->
	                                        <button class="btn btn-primary" type="button" onclick = "save();">保存</button>
	                                    </div>
	                                </div>
                                </form>
									<!-- <textarea>green|EBS服务器,gray|tomcat1,blue|java7</textarea> 
									<input id="bq" value="#1ab394|EBS服务器,#d1dade|tomcat,#1c84c6|java7" />
									<input id="tj" value="提交" type="button" onclick = "savebq();"/> -->
                                </div>
                            </div>

                        </div>

                    </div>
            </div>            
        </div>
        #parse("bottom.vm")
	    </div>
	</div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Chosen -->
<script src="js/plugins/chosen/chosen.jquery.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>

<!-- easyui -->
<script src="js/plugins/easyui/jquery.easyui.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>

<script src="js/plugins/pace/pace.min.js"></script>

<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- ChartJS-->
<script src="js/plugins/chartJs/Chart.min.js"></script>

<script src="js/plugins/echarts/echarts.js"></script>

<!-- Toastr -->
<script src="js/plugins/toastr/toastr.min.js"></script>

<script src="js/system/host.js"></script>

<script>
	
</script>
#parse("footer.vm")