<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SOA+ | Login</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	 <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">SOA+</h1>

        </div>
        <h3>欢迎使用 SOA+</h3>
        <p>我们致力于打造最坚实的SOA服务。对企业各个服务进行实时监控。
        </p>
        <p>登录试用一下吧，给我们提点意见。</p>
        <form class="m-t" role="form" action="/main">
            <div id="loginname_div" class="form-group text-left">
                <input type="text" class="form-control" placeholder="输入用户名" required  onfocus="clear_msg('loginname');" id="loginname" name="loginname" />
                <label id="loginname_msg" class="error" for="confirm" style="margin-top:5px;display:none;"></label>
            </div>
            <div id="password_div" class="form-group text-left">
                <input type="password" class="form-control" placeholder="输入密码" required onfocus="clear_msg('password');" id="password" name="password" />
                <label id="password_msg" class="error" for="confirm" style="margin-top:5px;display:none;"></label>
                <label id="loginname_password_msg"  class="error" for="confirm" style="margin-top:5px;display:none;"></label>
            </div>
            <button type="button" class="btn btn-primary block full-width m-b" onclick="checklogin();">登录</button>
            <a href="#"><small>忘记密码?</small></a>
        </form>
        <p class="m-t"> <small> 版权所有 杭州圣辰网络科技有限公司&copy; 2015 hzsckj.cn</small> </p>
    </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
function checklogin(){
	var loginname = $("#loginname").val();
	var password = $("#password").val();
	if(kong(loginname) === ""){
		//$("#loginname").focus();
		$("#loginname_div").addClass("has-error");
		$("#loginname_div").attr("style","margin-bottom: 0px;");
		$("#loginname_msg").css("display","");
		$("#loginname_msg").text("用户名不能为空！");
		return;
	}
	if(kong(password) === ""){
		$("#password_div").addClass("has-error");
		$("#password_div").attr("style","margin-bottom: 0px;");
		$("#password_msg").css("display","");
		$("#password_msg").text("密码不能为空！");
		return;
	}
	var param = {};
	param.loginname=loginname;
	param.password=password;
	$.ajax({
	    async: false,
	    type : "post",
	    url : '/login',
	    data: param,
	    dataType : 'json',
	    complete: function(msg){
	        //alert('complete');
	    },
	    success : function(data) {console.log(data);
		    if(data.flag === 0) {
				//登录成功，跳转至主页
				location.href = "/main";
			} else {
				//$("#loginname").focus();
				$("#password_div").attr("style","margin-bottom: 0px;");
		    	$("#loginname_password_msg").css("display","");
		    	$("#loginname_password_msg").text("用户名或密码错误！");
			}
	    },
	    error : function(msg){
	    	console.log(msg);
	    }
	});
}

//清理错误信息
function clear_msg(msg_id) {
	$("#"+msg_id+"_div").removeClass("has-error");
	$("#"+msg_id+"_div").attr("style",null);
	$("#"+msg_id+"_msg").text("");
	$("#"+msg_id+"_msg").css("display","none");
	if($("#loginname_password_msg").is(':visible')){
		$("#password_div").attr("style",null);
		$("#loginname_password_msg").text("");
		$("#loginname_password_msg").css("display","none");	
	}
}

function kong(val){
	var result = val;
	if (typeof val === 'undefined' || val === '' || val === 'undefined' || val === null) result = "";
	return result;
}

$("#loginname").keydown(function(event){
    if(event.keyCode === 13){
    	clear_msg('loginname');
    	checklogin();
    }
});

$("#password").keydown(function(event){
    if(event.keyCode === 13){
    	clear_msg('password');
    	checklogin();
    }
});

$("#loginname").focus();
</script>
</body>
</html>
